<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontRegular</key>
	<string>Helvetica</string>
	<key>FontBold</key>
	<string>Helvetica-Bold</string>
	<key>FontSizeXXXXXXS</key>
	<integer>4</integer>
	<key>FontSizeXXXXXS</key>
	<integer>6</integer>
	<key>FontSizeXXXXS</key>
	<integer>10</integer>
	<key>FontSizeXXXXXXXS</key>
	<integer>8</integer>
	<key>FontSizeXXXS</key>
	<integer>11</integer>
	<key>FontSizeXXS</key>
	<integer>12</integer>
	<key>FontSizeXS</key>
	<integer>13</integer>
	<key>FontSizeS</key>
	<integer>14</integer>
	<key>FontSizeM</key>
	<integer>15</integer>
	<key>FontSizeL</key>
	<integer>16</integer>
	<key>FontSizeXL</key>
	<integer>17</integer>
	<key>FontSizeXXL</key>
	<integer>18</integer>
	<key>FontSizeXXXL</key>
	<integer>19</integer>
	<key>FontSizeCellIcon</key>
	<integer>20</integer>
	<key>FontSizeXXXXL</key>
	<integer>28</integer>
	<key>FontSizeXXXXXL</key>
	<integer>30</integer>
	<key>FontSizeXXXXXXL</key>
	<integer>35</integer>
	<key>FontSizeXXXXXXXL</key>
	<integer>50</integer>
	<key>FontSizeDashboard</key>
	<integer>10</integer>
	<key>FontSizeAccountCellList</key>
	<integer>12</integer>
	<key>FontSizeUpcomingTransfer</key>
	<integer>13</integer>
	<key>FontSizeStackLabel</key>
	<integer>8</integer>
</dict>
</plist>
