<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontColorBlack</key>
	<string>000000</string>
	<key>FontColorWhite</key>
	<string>FFFFFF</string>
	<key>FontColorLightBlue</key>
	<string>67C4ED</string>
	<key>FontColorStatusBarBlue</key>
	<string>67C4ED</string>
	<key>FontColorBlue</key>
	<string>17479E</string>
	<key>FontColorGray</key>
	<string>63625F</string>
	<key>FontColorGray_GL</key>
	<string>77777A</string>
	<key>FontColorLightGray</key>
	<string>E4E4E4</string>
	<key>FontColorTextGray</key>
	<string>77777A</string>
	<key>FontColorTextFieldBG</key>
	<string>F7F8F8</string>
	<key>FontColorLightTextFieldBG</key>
	<string>E7E7E7</string>
	<key>FontColorPlaceHolderGray</key>
	<string>69686D</string>
	<key>FontColorRed</key>
	<string>FF0000</string>
	<key>FontColorTabBar</key>
	<string>DFDF48</string>
	<key>FontColorGrayDashboard</key>
	<string>414141</string>
	<key>FontColorGreen</key>
	<string>55A837</string>
	<key>FontColorLoginORbg</key>
	<string>77BADE</string>
	<key>FontColorYellow</key>
	<string>FFFF00</string>
	<key>FontColorYellow_GL</key>
	<string>FFDB01</string>
	<key>FontColorSVGGray</key>
	<string>D3D3D3</string>
	<key>FontColorYellowDark</key>
	<string>FDD90B</string>
	<key>FontColorYellowLight</key>
	<string>FFDB01</string>
	<key>FontColorRadioGray</key>
	<string>6D6E71</string>
	<key>FontColorBlueDeposits</key>
	<string>84C2EB</string>
	<key>FontColorSeparator</key>
	<string>EBEEF9</string>
	<key>FontColorSetLimitBackground</key>
	<string>F3F7FF</string>
	<key>FontColorLeftMenuBack</key>
	<string>DCF1FF</string>
	<key>FontColorSimType</key>
	<string>8C8C8C</string>
	<key>FontColorPurpleLinear</key>
	<string>EEA4CE</string>
	<key>FontColorPurple</key>
	<string>C58BF2</string>
	<key>FontColorPrimaryBackBlue</key>
	<string>E2EAFF</string>
	<key>FontColorPayMoneyBlue</key>
	<string>D9F0FF</string>
	<key>FontColorBlueLinear</key>
	<string>92A3FD</string>
	<key>FontColorBlueLinearSecond</key>
	<string>9DCEFF</string>
</dict>
</plist>
